<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.aft.clop</string>
	<key>connections</key>
	<dict>
		<key>01F79503-40ED-4F46-A67F-4E5AE07021A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D00E9FC-D864-41B6-B316-BDAEF753DCE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D00E9FC-D864-41B6-B316-BDAEF753DCE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>086222E0-0634-41BB-8795-059C6B8AF42C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F6EAFB5-64D9-47AC-879C-8F85DA25C72F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91B8DA36-20F9-40E0-A192-1DBD7779B33E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91B8DA36-20F9-40E0-A192-1DBD7779B33E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>086222E0-0634-41BB-8795-059C6B8AF42C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Clop</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>paths</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>01F79503-40ED-4F46-A67F-4E5AE07021A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>alfred_clop_input_context</key>
					<string>arguments</string>
					<key>alfred_clop_input_json</key>
					<string></string>
					<key>alfred_clop_paths</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1D00E9FC-D864-41B6-B316-BDAEF753DCE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>clopp</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>7F6EAFB5-64D9-47AC-879C-8F85DA25C72F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>clop</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Reading files...</string>
				<key>script</key>
				<string>if [[ -n "${alfred_clop_input_json:-}" ]]; then
  ./alfred-clop menu --input-json "$alfred_clop_input_json" --input-context "${alfred_clop_input_context:-selected}" --query "${1:-}"
elif [[ -n "${alfred_clop_paths:-}" ]]; then
  ./alfred-clop menu --input-paths "$alfred_clop_paths" --input-context "${alfred_clop_input_context:-selected}" --query "${1:-}"
else
  ./alfred-clop menu --input-source clipboard --query "${1:-}"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Choose an action for copied files</string>
				<key>title</key>
				<string>Clop</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>086222E0-0634-41BB-8795-059C6B8AF42C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>alfred_clop_input_context</key>
					<string>selected</string>
					<key>alfred_clop_input_json</key>
					<string></string>
					<key>alfred_clop_paths</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>91B8DA36-20F9-40E0-A192-1DBD7779B33E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01F79503-40ED-4F46-A67F-4E5AE07021A4</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>086222E0-0634-41BB-8795-059C6B8AF42C</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>1D00E9FC-D864-41B6-B316-BDAEF753DCE4</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>7F6EAFB5-64D9-47AC-879C-8F85DA25C72F</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>91B8DA36-20F9-40E0-A192-1DBD7779B33E</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
